body {
  font-family: century gothic; 
  max-width: 1900px;
  overflow-x: hidden;
}

header {
    background-color: transparent;
    float: left;
	margin-top: -10px;
	margin-left: -10px;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1900px;
	clear: both;
	height: 285px;
}

nav {
	float: left;
	list-style-type: none;
	margin-left: 50px;
	margin-right: 0px;
	overflow-x: hidden;
	position: fixed;
	top: 100px;
	width: 95%;
	max-width: 1900px;
	clear: both;
}

.nav {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

nav li {
	float: left;
	border-right: 10px solid transparent;
}

nav li a {	
	display: block;
	padding: 14px 16px;
	background-color: #141B41;
	color: #98B9F2;
	text-align: center;
	text-decoration: none;
}

nav li a:hover {
	background-color: #918EF4;
}

.active {
	background-color: #918EF4;
}

aside.ad {
	margin-top: 285px;
	float: left;
	width: 233px;
	height: 650px;
	margin-left: 50px;
	border-radius: 8px;
	margin-bottom: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 50px;
}

img.sidebanner {
	border-radius: 15px;
}

hr {
	display: block;
	height: 1px;
	background-color: #141B41;
	border-color: #918EF4;
}

figure.central {
	margin-top: 285px;
	float: left;
	background-color: transparent;
	margin-left: 0px;
	margin-right: 25px;
	margin-bottom: 25px;
	width: 1000px;
}

img.mainslide {
	width: 1000px;
	height: 300px;
	border-radius: 15px;
}

section.newsfeed {
	margin-top: 265px;
	width: 450px;
	height: 650px;
	background-color: transparent;
	float: right;
	margin-bottom: 20px;
	margin-right: 50px;
}

iframe.feed {
	border-radius: 15px;
}

section.leftbox {
	float: left;
	width: 475px;
	background-color: transparent;
	margin-left: 0px;
	margin-right: 50px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}

section.rightbox {
	float: left;
	width: 475px;
	background-color: transparent;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}

section.boxorder {
	float: left;
	width: 300px;
	height: 225px;
	background-color: transparent;
	border: solid 2px;
	border-color: #141B41;
	border-radius: 15px;
	margin-left: 0px;
	margin-right: 50px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}

section.boxorderright {
	margin-right: 0px;
}

section.lowercentral {
	float: left;
	width: 1000px;
}

iframe.embeddedmap {
	border-radius: 15px;
}

form.contactform {
	line-height: 200%;
}

form.orderform {
	line-height: 200%;
}

input {
	float: right;
}

img.tickcross {
	width: 16px;
	height: 16px;
	float: right;
	margin-right: 10px;
}

img.tickcrosslower {
	margin-bottom: 10px;
}

section.basket {
	padding-left: 25px;
	border-radius: 15px;
	border: solid 2px;
	border-color: #141B41;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

section.paymentsum {
	position: absolute;
	bottom: 0;
	display: inline;
}

p.totaltext {
	float: left;
}

p.livebasket {
}

input[type=submit], input[type=reset] {
	float: left;
	padding: 5px 15px;
	background: #141B41;
	color: #98B9F2;
	border-radius: 25px;
	cursor: pointer;
	text-align: center;
}

#contactform input[type=submit] {
	margin-left: 210px;
}

#orderform input[type=submit] {
	margin-left: 475px;
}

#orderform input[type=reset] {
	margin-left: 482px;
}

footer, footer.p {
	color: #98B9F2;
	text-align: center;
	border-style: groove;
	border-top: thick double #918EF4;
	background-color: #141B41;
    float: left;
	width: 110%;
	margin-left: -20px;
	margin-right: -10px;
	margin-bottom: -10px;
	clear: both;
	height: 100px;
}



	